/* 
   #list-stack
   ========================================================================== */

/**
 * The list-stack object removes the bullet and indent from lists.
 *
 * Usage:
 *
 * <ul class="o-list-stack">
 *     <li></li>
 *     <li></li>
 *     <li></li>
 * </ul>
 */

.o-list-stack {
	margin: 0;
	padding: 0;
	list-style: none;
}
