/* 
   #list-stack
   ========================================================================== */

/**
 * The list-stack object removes the bullet and indent from lists.
 *
 * Usage:
 *
 * <ul class="list-stack">
 *     <li></li>
 *     <li></li>
 *     <li></li>
 * </ul>
 */

.#{$bare-ns}list-stack {
	margin: 0;
	padding: 0;
	list-style: none;
}
